.venv/
__pycache__/
*.pyc
DOC_Projeto_Bolao.md
"Copa do Mundo 2026"*
Copa do Mundo 2026*
enderecos.txt
https___www.sofascore.com*
sdk-firebase-npm-e-script.txt
usuarios-firebase.txt
firestore-rules.txt
.DS_Store
*.xlsx
extract_matches.py
Analise_Scraper_SofaScore.md
js/firebase-config.js
Guia_Configuracao_GitHub_Firebase.md
quinta-categoria-show-logo.jpg